.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  // background-color: #111;
  color: #ffde59;
  gap: 1.2rem;
}

.loader-text {
  font-size: 2rem;
  letter-spacing: 0.5px;
  font-family: 'Merriweather', serif;
  text-shadow: 0 0 10px #ffde59;
}
