// main colors
$color-dark-bg: #0b1420; 
$color-light-text: #E2E6E9;

// main font sizes 
$font-size-lg: 3.5em; 
$font-size-ml: 2.7em; 
$font-size-md: 2.0em;
$font-size-sm: 1.0em;

// button colors 
$background-color : #b30b0b;
$background-color-hover : #8a0909;
