// main colors
$color-dark-bg: #0b1420; 
$color-light-text: #E2E6E9;

// main font sizes 
$font-size-lg: 2.7rem; 
$font-size-ml: 2.0rem; 
$font-size-md: 1.5rem;
$font-size-sm: 1.0rem;

// button colors 
$background-color : #b30b0b;
$background-color-hover : #8a0909;
