@use '../../styles/variables' as *;

.login-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  background-color: url('../../assets/Catalogue.png');
}

.login-container {
  grid-column: 2/3;
  grid-row: 2/3;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.wrapper {
  padding: 40px;
}
  .login-text {
    h1, p {
      color: $color-light-text;
      margin: 0;
      text-align: center;
    }

    h1 {
      font-size: $font-size-ml;
      padding-bottom: 10px;
    }

    p {
      font-size: $font-size-sm;
      padding-bottom: 10px;
    }
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;

  input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-size: $font-size-sm;
  }
}

.error-message {
  color: #c41313;
  background: rgba(250, 205, 205, 0.1);
  border: 1px solid rgba(255, 82, 82, 0.4);
  padding: 10px 15px;
  border-radius: 6px;
  text-align: center;
  font-size: $font-size-md;
  width: 100%;
  box-sizing: border-box;
}

.fade-in {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.button-login {
  width: 100%;
  background-color: $background-color;
  box-sizing: border-box;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  font-size: $font-size-sm;
  margin-bottom: 20px;
  cursor: pointer;
}

.registration-question{
  display: inline;
  color: #c7cedd;
  font-size: $font-size-md;
  padding-right: 10px;
}
.signup-link {
  color: #ff5252; 
  text-decoration: none;
  font-weight: $font-size-sm;

  &:hover {
    color: #ffa5a5; 
    text-decoration: underline; 
  }
}
