@use '../../styles/variables' as *;

.registration-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  background-color: url('../../assets/Catalogue.png');
}

.registration-container {
  grid-column: 2/3;
  grid-row: 2/3;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.15);
}


.wrapper {
  padding: 40px;
  }
  .login-text {
    h1, p {
      color: $color-light-text;
      margin: 0;
      text-align: center;
    }

    h1 {
      font-size: $font-size-ml;
      padding-bottom: 10px;
    }

    p {
      font-size: $font-size-sm;
      padding-bottom: 10px;
    }
}

.user-info-registration {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    margin: 0;
    text-align: start;
  }
  input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-size: $font-size-sm;
  }
}

.create-btn {
  width: 100%;
  background-color: $background-color;
  box-sizing: border-box;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  font-size: $font-size-sm;
  margin: 20px 0;
  cursor: pointer;
}

.login-question{
  display: inline;
  color: #5c8ef2;
  font-size: $font-size-sm;
  padding-right: 10px;
}
.login-link {
  color: #ff5252; 
  text-decoration: none;
  font-weight: $font-size-sm;

  &:hover {
    color: #ffa5a5; 
    text-decoration: underline; 
  }
}