@use '../../styles/variables' as *;


.registration-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  // height: 100vh;
  border: solid 2px red;
  background-color: url('../../assets/Catalogue.png');

}

.registration-container {
  grid-column: 2/3;
  grid-row: 2/3;
  border-radius: 8px;
  background-color: #4d6175;

  border: solid 2px rgb(187, 20, 202);

}


.wrapper {
  // border: solid 2px pink;
  // margin: 40px;
  padding: 40px;
  }
  .login-text {
    h1, p {
      color: $color-light-text;
      margin: 0;
      text-align: center;
    }

    h1 {
      font-size: $font-size-ml;
      padding-bottom: 10px;

    }

    p {
      font-size: $font-size-sm;
      padding-bottom: 10px;
    }

}

.user-info-registration {
  display: flex;
  flex-direction: column;
  // justify-content: start;
  // align-items: start;
  gap: 5px;
  // padding-bottom: 20px;

  label {
    margin: 0;
    text-align: start;
  }
  input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-size: $font-size-sm;

    // padding: 8px;
  }
}

.create-btn {
  width: 100%;
  background-color: $background-color;
  box-sizing: border-box;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  font-size: $font-size-sm;
  margin: 20px 0;
  cursor: pointer;
}

.login-question {
  display: inline;
  color: magenta;
  font-size: $font-size-sm;
  padding-right: 10px;

}